.header {
    background-color: orange;
    height:top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer{
    display: inline-flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f8fafc;
}
.copy{
    display: block;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 0.5px solid #cccaca;
}